nav{
    background-color: #0f1111;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.web_link{
    display:flex;
}
.web_link a{
    text-decoration: none;
    font-size: 25px;
    color: darkgoldenrod;
}
.links {
    display:flex;
    gap: 200px;
}
.link_item a{
    text-decoration: none;
    color:beige;
}
.actions{
    display: flex;
}
button{
    background-color: #f08804;
    color:beige;
    border:none;
}
