/* *{
    font-size:medium;
} */
p{
    color:cadetblue;
    line-height: 2px;
}
#One{
    color:blueviolet;
}
.para{
    color:darkgoldenrod;
    text-align:center;
    text-decoration: none;
    font-weight: 900;
    /* font-family: 'Trebuchet MS'; */
    font-family:'Times New Roman', Times, serif;
    font-size:30px;
    text-transform: uppercase;
}

/* part 2 */

.part2 div{
    height:100px;
    width: 400px;
    /* border-width: 5px;
    border-style: solid;    
    border-color: burlywood; */
    /* instead of above three lines we can right */
    border:2px dotted violet;
    border-radius: 10%;
    /* padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px; */
    /* instead of above four lines we can write... */
    padding: 40px;
    /* if u want to give different padding values then write... */
    /* padding: 10px 20px 30px 40px; */
    /* top-right-bottom-left(clock-wise direction) */
    /* margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px; */
    /* instead of above four lines we can write... */
    margin:50px;
    /* if u want to give different padding values then write... */
    /* margin: 10px 20px 30px 40px; */
    /* top-right-bottom-left(clock-wise direction) */
    display: inline;
    visibility:hidden;
    color:rgba(2, 255, 200, 0.25);
}

/* part 3 */

.para1{
    height: 100px;
    width: 400px;
    background-color: azure;
}
.para2{
    /* width: 20%;  */
    /* % unit takes the credentials from the parent tag */
    font-size:0.5em;
    /* width: 5em; */
    /* em unit lies btw 0-1 it works for some and do not works for some */
    background-color: burlywood;
    font-size:5rem;
    /* rem unit takes credentials from the outermost element of html page */
    height: 100vh;
    /* vh-viewport height is usedt to set the height of the element acc to browser */
    width: 100vw;
        /* vw-viewport width is usedt to set the width of the element acc to browser */
    position: fixed, absolute, static, sticky, zindex;


}

.image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url(/HTML/images/hp_symbol.jpg);
    background-size: cover;
    position:absolute;
    top:0;
}

/* part 4  */

#vertical_nav_bar{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:auto;
    height: 800px;
    background-color: black;
}
.nav_items{
    padding-bottom: 10px;
}
.nav_items a{
    text-decoration: none;
    color: aliceblue;
}
