article{
    background-color: #6cc5f5;
    font-family: Verdana;
}
@media (max-width :300px)
{
    article{
        background-color: green;
    }
}
@media (min-width :300px )and (max-width:400px)
{
    article{
        background-color: pink;
    }
}
@media (min-width :400px )and (max-width:600px)
{
    article{
        background-color: red;
    }
}